@import "colors";

body {
  font-family: "Roboto", sans-serif;
}

h1,
li {
  font-size: 2.5rem;
  color: $blue;
  font-weight: 800;
  width: 80%;

  @media (max-width: $mobile) {
    font-size: 2rem;
    width: 95%;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 700;

  @media (max-width: $mobile) {
    font-size: 1.75rem;
  }
}

a,
a:visited,
a:active a:link {
  text-decoration: none;
}
